* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
}
#leaves {
    background: #006691;
    background: linear-gradient(155deg, rgba(0, 102, 145, 1) 1%, rgba(1, 82, 12, 1) 67%, rgba(194, 145, 0, 1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}
h1 {
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 5vw;
    position: absolute;
    top: 10%;
    left: 40%;
    display: none;
}
.purpleleaf {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 5%;
    rotate: 10deg;
    animation: shake 2s 0s infinite alternate;
}
.purpleleaf:hover {
    animation: none;
}
img {
    width: 100%;
    height: auto;
}
.yellowleaf {
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 30%;
    rotate: -10deg;
    display: none;
}
.greenleaf {
    width: 200px;
    position: absolute;
    top: 25%;
    right: 5%;
    rotate: 15deg;
    display: none;
}

@keyframes shake {
    0% {rotate: 0;}
    25% {rotate: 5deg;}
    75% {rotate: -3deg;}
    100% {rotate: 3deg;}
}

#flowers {
    background-color:rgb(35, 8, 38);
    width: 100%;
    height: 100vh;
    position: relative;
}
.rose {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 15%;
    animation: shake 2s 0s infinite alternate;
}
.rose2 {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 15%;
    display: none;
}
.rose3 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 30%;
    right: 25%;
    rotate: 90deg;
    display: none;
}


.daisy {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 10%;
    right: 15%;
    animation: shake 3s 0s infinite alternate-reverse;
}
.daisy2 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
    display: none;
}

h2 {
    color: pink;
    font-size: 3vw;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
}
.rosetext {
    width: 50%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: none;
}
.daisytext {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: none;
}

/* HAMBURGER MENU */

.burger {
    position: fixed;
    top: 1%;
    right: 1%;
    color: white;
    z-index: 99999;
}
.burger:after {
    content: "\2630";
    font-size: 40px;
}
.burger:hover {
    cursor: pointer;
}
.navigation {
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(2, 2, 66);
    z-index: 88888;
    display: none;
}
.navigation li {
    list-style-type: none;
    font-size: 3vw;
    font-style: italic;
    margin: 10%;
}
.navigation li a {
    color: yellow;
    text-decoration: none;
}
.navigation li a:hover {
    color: lightseagreen;
    text-decoration: underline;
}