* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
}
#leaves {
    background: #006691;
    background: linear-gradient(155deg, rgba(0, 102, 145, 1) 1%, rgba(1, 82, 12, 1) 67%, rgba(194, 145, 0, 1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}
h1 {
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 5vw;
    position: absolute;
    top: 10%;
    left: 40%;
    display: none;
}
.purpleleaf {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 5%;
    rotate: 10deg;
}
img {
    width: 100%;
    height: auto;
}
.yellowleaf {
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 30%;
    rotate: -10deg;
    display: none;
}
.greenleaf {
    width: 200px;
    position: absolute;
    top: 25%;
    right: 5%;
    rotate: 15deg;
    display: none;
}
