* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: gray;
}

#orb-one {
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 50%;
    opacity: 0.3;
    animation-name: shape;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* these 3 properties center the contents */
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shape {
0% {
    border-radius: 45% 65% 55% 75%;
}
50% {
    border-radius: 55% 75% 35% 45%;
}
100% {
    border-radius: 50% 60% 30% 70%;
}
}

#orb-two {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 255, 13);
    border-radius: 50%;
    opacity: 0.2;
    animation-name: shape;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 8;
}
h1 {
    font-size: 16px;
    text-align: center;
}
.bubble {
    width: 50px;
    height: 50px;
    border: 1px dotted black;
    border-radius: 50%;
    z-index: 9;
    background-image: radial-gradient(gray, white)
}
.a {
    position: absolute;
    top: 5%;
    left: 10%;
    animation: pulsate 2s ease-in-out infinite alternate;
}
.b {
    position: absolute;
    right: 5%;
    bottom: 10%;
    animation: pulsate 5s ease-in-out 2s infinite alternate;

}
.c {
    position: absolute;
    top: 55%;
    left: 40%;
    animation: pulsate 10s ease-in-out 0s infinite alternate;

}
@keyframes pulsate {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(3,3);
    }
}

@media screen and (max-width:1000px) {
    body {
        background-color: pink;
    }
    #orb-one {
        background-color: yellow;
    }
    #orb-two {
        background-color: aqua;
    }
}

@media screen and (max-width:700px) {
    body {
        background-color: blue;
    }
    #orb-one {
        background-color: green;
    }
    #orb-two {
        background-color: silver;
    }
}